body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

canvas {
    display: block;
}

h1 {
    position: absolute;
    top: 2em;
    left: 2em;
    border: 2px solid royalblue;
    background-color: aliceblue;
}